<!DOCTYPE html>
<html>
  <head>
    <title>Waste Recycling and Composting System Powered by Hedera Crypto Payments System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
<h3>Waste Recycling and Composting System Powered by Hedera Crypto Payments System</h3>
  
  </body>
</html>
