<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<link rel="stylesheet" href="/javascripts/bootstrap.min.css" />
  <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>

<h3>Waste Recycling and Compsting System Powered by Hedera Crypto Payments System</h3>

</body>
</html>